<mat-form-field appearance="outline" class="full-width">
  <mat-label>{{ label }}</mat-label>

  <mat-select [(value)]="value" [compareWith]="compareFn" (selectionChange)="onSelectionChange($event)"
    (openedChange)="onDropdownOpened($event)" panelClass="custom-select-panel">
    <!-- Search input -->
    <div class="search-wrapper" (click)="$event.stopPropagation()">
      <mat-form-field appearance="outline" class="dropdown-search">
        <mat-label>{{ placeholder }}</mat-label>
        <input matInput #searchBoxInput [(ngModel)]="searchText" (ngModelChange)="filterOptions(searchBoxInput.value)"
          (keydown)="onKeyDown($event)" type="search" autocomplete="off" />
      </mat-form-field>
    </div>

    <!-- Filtered options -->
    <ng-container *ngIf="filteredOptions.length > 0; else noOptions">
      <mat-option (click)="onOptionClicked(option); $event.stopPropagation();" *ngFor="let option of filteredOptions; let i = index" [value]="option"
        [class.active]="i === activeIndex">
        {{ option.key }}
      </mat-option>
    </ng-container>

    <!-- No options fallback -->
    <ng-template #noOptions>
      <mat-option disabled>No matching options</mat-option>
    </ng-template>
  </mat-select>
</mat-form-field>